*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* classi riutilizzabili */

.flex   {display: flex;}
.boxed  {
    width: 80%;
    margin:auto;
} 

.marg10 {margin-top: 10px;}
.marg20 {margin-top: 20px;}
.marg40 {margin-top: 40px;}

.marg_bott10 {margin-bottom: 10px;}
.marg_bott20 {margin-bottom: 20px;}
.marg_bott40 {margin-bottom: 40px;}

.padd10 {padding: 10px;}
.padd20 {padding: 20px;}
.padd40 {padding: 40px;}

.line2  {line-height: 2em;}
.line3  {line-height: 3em;}
.line4  {line-height: 4em;}


/* header */

header{
    background-color: #0084fd;
}

.navbar{
    padding: 1em;
    justify-content: space-between;
    align-items: center;
}

.hamburger{
    cursor: pointer;
    color:white;
    font-size: 2rem;
}

.right_navbar{
    display: none;
}

header a{
    color: white;
    text-decoration: none;
    margin-right: 20px;
    padding: 10px;
}

header a:hover{
    color: black;
    text-decoration: underline;
}

header button{
    padding: 10px;
    background-color: white;
    color: black;
    border: none;
    border-radius: 20px;
    align-items: center;
}

header button:hover{
    cursor: pointer;
    background-color: black;
    color: white;
}

/* header media query */

@media screen and (min-width: 800px) {
    .right_navbar{
        display: block;
    }

    .hamburger{
        display: none;
    }
}

/* main */

/* main first section */

.info_container{
    flex-wrap: wrap;
    flex-direction: column;
}

.info{
    background-color: #b5ddff;
    padding: 20px;
    padding-bottom: 0px;
    margin: 10px;
    border-radius: 10px;
    width: 100%;
}

.info_center{
    text-align: center;
}

.info_grow{
    flex-direction: column;
    align-items: center;
}

.left_info{
    max-width: 80%;
}

.right_info{
    max-width: 100%;
}

.info_container h3{
    color: #1a90fd;
    font-size: 25px;
}

.info_container p{
    color: #617689;
}

.right_info img{
    display: block;
    max-width: 80%;
    margin: auto;
}

.info button{
    color: white;
    background-color: #0084fd;
    padding: 10px 60px;
    border-radius: 20px;
    border: none;
    font-size: 18px;
    margin-bottom: 20px;
}

.info button:hover{
    cursor: pointer;
    background-color: black;
}

.paper{
    color: #0084fd;
    font-size: 4rem;
}

/* first section media query */

@media screen and (min-width: 800px) {
    .info_container{
        flex-direction: row;
    }

    .info{
        width: calc(100% / 3 - 20px);
       }

   .info_grow{
    flex-direction: row;
    width: calc(100% / 3 * 2 - 20px);

   }

   .left_info{
    max-width: 60%;
   }

   .right_info{
    max-width: 40%;
   }
}

/* main second section */
.bg_violet{
    background-color: #9792e4;
}

.planning{
    flex-direction: column;
}

.planning_left, .planning img{
    max-width: 100%;
    padding: 40px;
}

.planning_left h4{
    color: white;
    font-size: 40px;
}

.planning_left p{
    color: white;
}

.planning_right{
    background-color: white;
    border-radius: 50px;
    width: 80%;
    margin: auto;
    flex-direction: column;
    align-items: center;
}

.planning_right h3{
    font-size: 30px;
    text-align: center;
}

.planning_right p{
    text-align: center;
    padding: 20px;
    line-height: 2em;
}

.planning_right .arrow{
    background-color: #9792e4;
    padding: 20px;
    border-radius: 50%;
    text-align: center;
    margin-bottom: 20px;
}

/* second section media query */

@media screen and (min-width: 800px) {
    .planning{
        flex-direction: row;
    }

    .planning_left{
        width: 50%;
    }

    .planning_right{
        width: 30%;
        margin-bottom: 40px;
    }
}